<div class="contentMiddled">
  <br/>
  <div>
    <p>Share your profile on:</p>
    <a class="link" href="https://www.linkedin.com/">LinkedIn</a>&nbsp;
    <a class="link" href="https://twitter.com/?lang=fr">Twitter</a>&nbsp;
    <a class="link" href="https://fr-fr.facebook.com/">Facebook</a>&nbsp;
    <a class="link" href="https://webdriver.io/docs/api/element/getHTML/">GetHTML</a>
  </div>
  <br/>
  <br/>
  <br/>

  <div>
    <table style="white-space: nowrap;">

      <tr>

        <td>
          <h1 class="name">{{dataUser.name}}</h1>
        </td>

        <td style="padding-left: 10%;">
          <br/>
          <p>Craftsman at {{dataUser.company}}.</p>
          <p>{{dataCompany.organization.location}}</p>
        </td>

      </tr>
    </table>

    <br/>

    <table class="info">
      <tr>
        <td class="pictureTd">
          <img class="roundedPicture"
          src="{{dataUser.avatarUrl}}"
          alt="Profile picture">
        </td>
        <td>
          <div class="infoContainer1">
            Commits
          
            <br/>
            {{totalCommits}}
            
          </div>
          
        </td>
        &nbsp;
        <td>
          <div class="infoContainer1">
            Repos
          
            <br/>
            {{dataUser.repositories.totalCount}}
            
          </div>

        </td>
        &nbsp;
        <td>
          <div class="infoContainer1">
            Lines of code
          
            <br/>
            {{lines}}
            
          </div>

        </td>
        &nbsp;
        <td>
          <div class="infoContainer2">
            Followers
          
            <br/>
            {{dataUser.followers.totalCount}}
            
          </div>

        </td>
        &nbsp;
        <td>
          <div class="infoContainer2">
            Following
          
            <br/>
            {{dataUser.following.totalCount}}
            
          </div>
          
        </td>
        &nbsp;
        <td>
          <div class="infoContainer3">
            <select>
              <option value="base">Refresh</option>
            </select>
            <br/>
            <br/>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div>
    <h1 class="name">Overview</h1>
    
  </div>

  <div>
    <h1 class="name">Languages</h1>
    <div style="display: block;">
      <canvas baseChart 
        [data]="pieChartData" 
        [labels]="pieChartLabels" 
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [legend]="pieChartLegend"
        [colors]="pieChartColors">
      </canvas>
    </div>
  </div>

  <div>
    <h1 class="name">Repositories</h1>
    <ul>
      <li *ngFor="let repository of repositoriesList">
        <button class="accordion">{{repository.name}} <span><mat-icon style="color: rgb(10, 175, 10);">check</mat-icon></span> </button>
        <div class="panel">
            <p>{{repository.description}}</p> 
        </div>
      </li>
    </ul>
  </div>

  
</div>

<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }
</script>