<div class="contentMiddled">
  <br/>
  <div>
    <p>Share your profile on:</p>
    <a class="link" href="https://www.linkedin.com/">LinkedIn</a>&nbsp;
    <a class="link" href="https://twitter.com/?lang=fr">Twitter</a>&nbsp;
    <a class="link" href="https://fr-fr.facebook.com/">Facebook</a>&nbsp;
    <a class="link" href="https://webdriver.io/docs/api/element/getHTML/">GetHTML</a>
  </div>
  <br/>
  <br/>
  <br/>

  <div>
    <table style="white-space: nowrap;">

      <tr>

        <td>
          <h1 class="name">{{dataUser.name}}</h1>
        </td>

        <td style="padding-left: 10%;">
          <br/>
          <p>Craftsman at {{dataUser.company}}.</p>
          <p>{{dataCompany.organization.location}}</p>
        </td>

      </tr>
    </table>

    <br/>

    <table class="info">
      <tr>
        <td class="pictureTd">
          <img class="roundedPicture"
          src="{{dataUser.avatarUrl}}"
          alt="Profile picture">
        </td>
        <td>
          <div class="infoContainer1">
            Commits
          
            <br/>
            {{totalCommits}}
            
          </div>
          
        </td>
        &nbsp;
        <td>
          <div class="infoContainer1">
            Repos
          
            <br/>
            {{dataUser.repositories.totalCount}}
            
          </div>

        </td>
        &nbsp;
        <td>
          <div class="infoContainer1">
            Lines of code
          
            <br/>
            Test
            
          </div>

        </td>
        &nbsp;
        <td>
          <div class="infoContainer2">
            Followers
          
            <br/>
            {{dataUser.followers.totalCount}}
            
          </div>

        </td>
        &nbsp;
        <td>
          <div class="infoContainer2">
            Following
          
            <br/>
            {{dataUser.following.totalCount}}
            
          </div>
          
        </td>
        &nbsp;
        <td>
          <div class="infoContainer3">
            <select>
              <option value="base">Refresh</option>
            </select>
            <br/>
            <br/>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

<!--<ul>
  <li *ngFor="let repos of repositoriesList">
    Repository : {{ repos.name }}
    <br/>
    Sources :
    <ul >
      <li *ngFor="let src of repos.srcList">
        &nbsp;&nbsp;{{ src }}


      </li>
    </ul>
    Fichiers :
    <ul >
      <li *ngFor="let file of repos.fileList">
        &nbsp;&nbsp;{{ file.name }}


      </li>
    </ul>
    <br/>
  </li>
</ul>
-->